*

!.gitignore
!setup.sh
!README.md

!hypr/
!hypr/**
!waybar/
!waybar/**
!btop/
!btop/**
!fastfetch/
!fastfetch/**
!htop/
!htop/**
!kitty/
!kitty/**
!nwg-displays/
!nwg-displays/**
!rofi/
!rofi/**
!wallpapers/
!wallpapers/**

